html {
    height: 100%;
}

body {
    height: 98%;
}

header {
    background-color:blue;
}

nav {
    background-color: brown;
}

main {
    background-color: darkgrey;
}

footer {
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#img-about-me {
    height: 60%;
    width: 20%;
}